{% extends 'Client/layout.html' %}
{% load static %}
{% block title %}Z ENGINEERING{% endblock %}
{% block style %}
<link rel="stylesheet" href={% static 'css/UserSec.css'%}>
<link rel="stylesheet" href={% static 'css/home.css'%}>

{% endblock %}

{% block content%}
{% if user.is_authenticated %}
        <div><div class="def">
            <p>This application is designed to assist and guide every client in the construction industry...</p>
        </div></div>
    <div class="content">
            <h2 id="welcome-message"></h2>
    
        <div id="box">
                <h2>Land Details</h2>
                <p>Find detailed information about available lands and property listings.</p>
                <a href="{% url 'Client:land'%}"><button>Click to Open!</button></a>
        </div>
    
        <div id="box">
                <h2>Approach for Construct</h2>
                <p>Discover our latest projects and developments.</p>
                <a href="{% url 'Client:approach_organizer' %}"><button>Click to Enter!</button></a>
        </div>
        <div id="box">
                <h2>Ongoing Work</h2>
                <p>Stay updated with the progress of our ongoing projects.</p>

               
  <a href="{% url 'Client:commit_detail' proposal.id %}"><button>Click to Enter!</button></a>

        </div>
    </div>
{% else %}
    <a href={% url 'Client:register' %}>Register</a>
    <a href={% url 'Client:login' %}>Log In</a>
{% endif %}
{% endblock %}