{% extends 'Client/layout.html'%}
{% load static %}
{% block style %}<link rel="stylesheet" href="{% static 'css/land_details.css' %}">{% endblock %}
{% block content%}
<div class='temp'>
<div id="object">
<h2>Available Lands</h2>
<ul>
  {% for land in lands %}
    <li>
      <a href="{% url 'Client:land_detail' land.id %}"><h2>
        {{ land.title }} - ₹{{ land.price }}
      </h2></a>
    </li>
    {% empty %}
  <li>No lands available at the moment.</li>

  {% endfor %}
</ul>
</div></div>
{% endblock%}