<!DOCTYPE HTML>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    
    <link rel="stylesheet" type="text/css" href= "{% static 'css/layout.css'%}" >
    {% block style %}
    <link rel="stylesheet" type="text/css" href="">{% endblock %}
    <script defer src="D:\student_project-jan25\civilEnggClientAssist\EnggProCA\static\javascript\home_page.js"></script>
    <script defer src="D:\student_project-jan25\civilEnggClientAssist\EnggProCA\static\javascript\settingManupulate.js"></script>
</head>
<body>
    {% block header %}
    <div class="header">
        <div>
        <img class="logo-title" src="https://cdn-icons-png.flaticon.com/128/10365/10365034.png" height="30" width="30">
        <h1>Z ENGINEERING</h1>
        </div>
        <div class="navigator">
            {% if user.is_authenticated %}
            <a class="{% if request.resolver_match.url_name == 'homepage' %}active{% endif %}" href="{% url 'Client:homepage'%}">
                <img src="https://cdn-icons-png.flaticon.com/128/846/846449.png" alt="Home" width="30" height="20"> Home</a>
            <a href="{% url 'Client:objects' %}"><img src="https://cdn-icons-png.flaticon.com/128/807/807313.png" alt="Objects" width="20" height="20"> Objects</a>
            <a href="D:\student_project-jan25\civilEnggClientAssist\EnggProCA\sourcepage_bundle\contactpage.html"><img src="https://cdn-icons-png.flaticon.com/128/2575/2575636.png" alt="Contact" width="20" height="20"> Contact</a>
            <form class='logout' action="{% url 'Client:logout' %}" method="POST">
                {% csrf_token %}
                <button type='submit'><img src="https://cdn-icons-png.flaticon.com/128/6619/6619122.png" alt="Objects" width="20" height="20"> Log Out</button>
            </form>
            
            {% else %}
        
            <a href="{% url 'Client:register' %}" class="{% if request.resolver_match.url_name == 'register' %}active{% endif %}">
                <img src="https://cdn-icons-png.flaticon.com/128/16206/16206813.png" alt="Objects" width="20" height="20"> Register</a>
            <a href="{% url 'Client:login' %}" href="{% url 'Client:register' %}" class="{% if request.resolver_match.url_name == 'login' %}active{% endif %}">
                <img src="https://cdn-icons-png.flaticon.com/128/59/59801.png" width="20" height="20"> Sign-In</a>
            <a href="#about"><img src="https://cdn-icons-png.flaticon.com/128/64/64494.png" alt="About" width="20" height="20"> About</a>
            {% endif %}</div>
    
    </div>
    {% endblock %}
    
    {% block content %}
    
    {% endblock %}
    <div class="footer">
        <p>Z ENGINEERING SERVICE</p>
        <a href="https://maps.app.goo.gl/NWyVVEhoAFbkeY4S8">228A Tiruchendur Road, Palai Market 
            Palayamkottai 
            Tirunelveli -627002</a>

            
    </div>
</body>
</html>
