{% extends 'Client/layout.html' %}
{% load static %}

{% block title %}Z Engineering - Login{% endblock %}

{% block style %}<link rel="stylesheet" href="{% static 'css/UserSec.css' %}">{%endblock%}

{% block content %}
<div class="def">
    <h2>Login</h2>
    <form class="form-with-validation" action="{% url 'Client:login' %}" method="post" >
        {% csrf_token %}
        {{ form }}
        {% if request.GET.next %}
        <input type="hidden" name="next" value="{{request.GET.next}}"/>{% endif %}
        <button type="submit" class="form-submit"> LOG IN </button>
    </form>
    </div>
    {% endblock %}