{% extends 'Client/layout.html'%}
{% load static %}
{% block style %}<link rel="stylesheet" type="text/css" href="{% static 'css/userSec.css' %}">{% endblock %}
{% block title %}
Z Engineering - Register
{% endblock %}
{%block content %}
<div class="def">
<h2>Register</h2>
<div>
<form class="form-with-validation" action="{% url 'Client:register' %}" method="post" >
    {% csrf_token %}
    {{ form }}
    <button type="submit" class="form-submit">Register</button></div>
</form>
</div>
{% endblock %}