body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #343a40;
    color: white;
    padding: 20px;
    text-align: center;
}

header img {
    height: 50px;
    vertical-align: middle;
    margin-right: 10px;
}

#loginForm {
    background-color: white;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #4a4d52;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #106bc6;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

button[type="submit"] {
    width: 100%;
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 12px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

#sign_up {
    text-align: center;
    color: #343a40;
    margin-top: 20px;
}

#sign_up a {
    color: #007BFF;
    text-decoration: none;
}

#sign_up a:hover {
    text-decoration: underline;
}
#title_name{color: #ccc;}
