.def{
  background-color: bisque;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    justify-self: center;
    opacity: 80%;
margin: 4em;
   
}

.form-with-validation{

  text-align: center;
  padding: 2em;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  flex-wrap: wrap;
}

ul {
  list-style-type: none;
  padding-left: 0;
}