/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header Styles */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: orangered;
    color: white;
    padding: 10px 20px;
    flex-shrink: 0;
    width: 100%;
}

.header img.logo-title {
    margin-right: 10px;
}

.header h1 {
    margin: 0;
    font-size: 1.5em;
}

/* Navigator Styles */
.navigator {
    display: flex;
    margin-left: auto;
    margin-right: 20%;
}

.navigator a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    font-size: 1em;
    flex-shrink: 0;
}

.navigator a.active {
    background-color: lightgreen;margin-left: 1px;
}
.navigator a:hover{background-color: rgb(132, 231, 231);}

/* Content Styles */
.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    flex-grow: 1;
    box-sizing: border-box;
}

.def {
    background-color: white;
    height: 100%;
    margin-left: 20%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
    width:200%;

}

/* Box Styles */
.content #box {
    background-color: white;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
    flex-shrink: 0;
}

/* Footer Styles */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    flex-shrink: 0;
}

/* Responsive Styles */
@media (min-width: 600px) {
    .header h1 {
        font-size: 2em;
    }
    .navigator a {
        font-size: 1.2em;
    }
}

@media (min-width: 900px) {
    .content #box, .def {
        width: calc(50% - 40px);
    }
}

@media (min-width: 1200px) {
    .content #box{
        width: calc(33.33% - 40px);
    }
}

@media (min-width: 1500px) {
    .content #box {
        width: calc(25% - 40px);
    }
}#def_manage{height: 100px;width: 100%;}

