/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

body.dark-mode {
    background-color: #e0e0e0; /* Light attractive background color */
    color: #333333; /* Dark attractive text color */
}

/* Header Styles */
.header {
    display: flex;
    align-items: center;
    background-color: orangered;
    color: white;
    padding: 10px 20px;
}

.header.dark-mode-header {
    background-color: #c0c0c0; /* Light attractive background color for header */
    color: #e50909; /* Dark attractive text color for header */
}

.header h1 {
    margin: 0;
}

/* Navigator Styles */
.navigator {
    margin-left: auto;
}

.navigator a {
    color: black;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}

.navigator a.active {
    color: green;
}

.navigator a.dark-mode {
    color: #333333; /* Dark attractive text color */
}

/* Content Styles */
.content {
    padding: 20px;
}

.content section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.content section.dark-mode-section {
    background-color: #e0e0e0; /* Light attractive background color for sections */
    color: #333333; /* Dark attractive text color for sections */
}

/* Footer Styles */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer.dark-mode-footer {
    background-color: #c0c0c0; /* Light attractive background color for footer */
    color: #333333; /* Dark attractive text color for footer */
}

/* Button Styles */
button {
    background-color: orangered;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: darkred;
}
