body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}footer{text-align: center;background-color: #0056b3;height: 30px;font-size: large;padding:2%;}

header {
    background-color: #343a40;
    color: white;
    padding: 20px;
    text-align: center;
}

header img {
    height: 50px;
    vertical-align: middle;
    margin-right: 10px;
}

#loginForm {
    background-color: white;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #343a40;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #343a40;
}

input[type="email"],
input[type="password"],
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

button[type="submit"] {
    width: 100%;
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 12px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
}

button[type="submit"]:disabled {
    background-color: gray;
    cursor: not-allowed;
}

button[type="button"] {
    width: 100%;
    background-color: #00ff84; /* Blue */
    color: white;
    padding: 12px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button[type="button"]:hover {
    background-color: #0056b3;
}

#generatedPasswordContainer {
    margin-top: 20px;
    display: none; /* Hide the generated password container initially */
}

#generatedPassword {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}
